{% extends 'base.html' %} {% block content %}
<section class="about">
  <h2>About Me</h2>

  <h3>Education</h3>
  {% for edu in education %}
  <p>
    <a href="{{ edu.link }}" target="_blank">{{ edu.program }}</a> @
    <a href="{{ edu.school_link }}" target="_blank">{{ edu.school }}</a>
  </p>
  {% endfor %}

  <h3>Work Experience</h3>
  <ul>
    {% for work in work_experience %}
    <li><a href="{{ work.link }}" target="_blank">{{ work.company }}</a></li>
    {% endfor %}
  </ul>

  <!-- Display the folium map -->
  <div id="map">{{ map_html|safe }}</div>
</section>
{% endblock %}
