{% extends 'base.html' %} {% block content %}
<section class="hobbies">
  <h2>Hobbies</h2>

  <p>Currently exploring distributed systems, cloud, and security.</p>

  <h2>More Life 🌊</h2>
  <h3>Writing📓</h3>
  <p>
    Been using <a href="https://obsidian.md/" target="_blank">Obsidian</a> to Cmd + F my brain for a
    few years and it's a great tool to throw ideas, notes, and thoughts into.
  </p>

  <h3>Basketball🏀</h3>
  <p>Got the automatic jumper, pick pocket, and dimmer badge. Goat? MJ.</p>

  <h3>Gaming 🎮</h3>
  <ul>
    <li>Warzone - Either dropping 20 bombs or getting dropped.</li>
    <li>FIFA - I know how to use R stick.</li>
    <li>League of Legends - Yasuo main, 0/10 powerspike.</li>
    <li>Valorant - Don't play this game, but I'm a Radiant.</li>
    <li>Minecraft - They made survival mode too realistic these days.</li>
    <li>Cup Pong - Absolute demon.</li>
    <li>Chess - Probably grandmaster in my past life.</li>
    <li>Among Us - I'm always sus.</li>
    <li>Rocket League - Just play FIFA...</li>
    <li>Fortnite - I'm a bot.</li>
  </ul>

  <h3>Photography 📸</h3>
  <p>
    Natural tourist. I just use my phone and struggling to afford cloud storage. Please help,
    thanks.
  </p>

  <h3>Reading 📚</h3>
  <ul>
    <li>
      Operating Systems: Internals and Design Principles, Global Edition 9th Edition by William
      Stallings (forced to read this for SE 350 at UW)
    </li>
  </ul>
  <ul>
    <li>Instagram captions, comments, and DMs</li>
  </ul>
  <ul>
    <li>Messages from my mom</li>
  </ul>
  <ul>
    <li>Random WhatsApp forwards</li>
  </ul>
  <ul>
    <li>Occasional Reddit threads</li>
  </ul>
  <ul>
    <li>Whatever's on my Twitter feed</li>
  </ul>
  <ul>
    <li>ChatGPT generated text</li>
  </ul>

  <h3>Music🎧</h3>
  <p>Top 5 artists:</p>
  <ol>
    <li>Drake</li>
    <li>Arjit Singh</li>
  </ol>
  <p>Some bomb playlists in my bag:</p>
  <ul>
    <li>
      <a
        href="https://open.spotify.com/playlist/6U52lhARjejllDrBr34hwN?si=fad1d3f02b164aa2"
        target="_blank"
        >Heat</a
      >
    </li>
    <li>
      <a
        href="https://open.spotify.com/playlist/1ugpVqVkQRQHhcYdn8Efqy?si=a88e26bba1a54501"
        target="_blank"
        >Bollywood</a
      >
    </li>
    <li>
      <a
        href="https://open.spotify.com/playlist/0ceu3j3bZSKm9URaWejJPI?si=18ce33e268b24456"
        target="_blank"
        >Welcome to the league</a
      >
    </li>
    <li>
      <a
        href="https://open.spotify.com/playlist/48vfu48BKnFyMPFsG6sPsh?si=0e96491cb3d74c42"
        target="_blank"
        >Old Drake</a
      >
    </li>
  </ul>
</section>
{% endblock %}
